/* ===== Header ===== */

.header {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* ----- Header: Menu ----- */

.header .menu {
    align-items: center;
    display: flex;
}

.header .menu ul {
    position: unset;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header .menu-item {
    margin-left: 10px;
    margin-right: 10px;
}

.menu-item a {
    text-decoration: none;
    color: #000;
}

.menu-item a:hover {
    color: #2BD1D2;
}

.menu-icon {
    display: none;
}

/* ----- Header: Mobile menu ----- */

@media only screen and (max-width : 640px) {
    .menu {
        margin-left: auto;
        margin-right: 20px;
    }

    .header .menu ul {
        display: none;
    }
        
    .menu-icon {
        display: block;
    }

    .menu-icon img {
        height: 50px;
        width: 50px;
    }
    
    .header .menu:hover {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .header .menu:hover ul {
        display: block;
        background-color: #fff;
        border: 2px solid #444;
        padding: 20px;
        position: absolute;
        right: 20px;
        top: 60px;
        z-index:1000;
    }
    
    .header .menu:hover .menu-item {
        margin: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }
}


/* ===== Importants ===== */

.importants-slider {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.importants-slider .slide{
    height: 500px;
    width: 90%;
    margin: auto;
}

.importants-slider .slick-list,
.importants-slider slick-track,
.importants-slider .slick-slide {
    margin: 0;
    padding: 0;
}

.importants-slider .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    max-height: 600px;
    overflow: hidden;
}

.importants-slider .slick-slide {
    float: left;
    width: 100%;
    margin: auto;
}

.importants-slider .slick-slide img {
    display: block;
    height: auto;
    width: 100%;
}

.importants-slider .slick-dots {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.important-slide {
    position: relative;
}

.important-textbox {
    color: #fff; 
    position: absolute;
    top: 20%;
    left: 5%;
}

.important-textbox h3 {
    font-size: 45px;
}

.important-textbox h4 {
    font-size: 35px;
}

.important-textbox a {
    background-color: #2bfed2;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
}

.important-textbox a:hover {
    color: #444;
}

/* ----- Importants: mobile ----- */

@media only screen and (max-width : 640px) {
    .important-textbox h3 {
        font-size: 23px;
    }
    
    .important-textbox h4 {
        font-size: 16px;
    }
    
    .important-textbox a {
        font-size: 12px;
    }

}

/* ===== News ===== */

.home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.home-section-title {
    font-family: FreeSans, Helvetica;
    font-size: 30px;
    text-align: center;
}

.news-slider {
    margin: auto;
    width: 80%;
}

.news-slider .slick-slide img {
    display: block;
    height: auto;
    width: 100%;
}

.news-slide {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
    max-height: 300px;
}

.news-textbox {
    align-items: center;
    bottom: 5%;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: FreeSans, Helvetica;
    justify-content: center;
    left: 5%;
    position: absolute;
    right: 5%;
    text-align: center;
    top: 5%;
    z-index: 1;
}

.uppercased {
    text-transform: uppercase;
}

.thin-blue-button {
    background-color: #5bfad7;
    border-radius: 30px;
    color: #000;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    text-decoration: none;
}

.darkened-image {
    filter: brightness(40%);
}

.news-textbox .verbose-date {
    color: #5bfad7;
    font-size: 18px;
}

.all-news-button {
    margin-top: 50px;
}

.grey-button {
    background-color: #535556;
    border-radius: 30px;
    color: #fff;
    font-family: FreeSans, Helvetica;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}


/* ===== Last Article ===== */

.80-percent-width {
    width: 80%;
}

.all-articles-button {
    margin-top: 50px;
}

.last-article-thumbnail {
    height: 400px;
    width: 80%;
}

.last-article-container {
    align-items: baseline;
    display: flex;
    flex-direction: rows;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 80%;
}

.last-article-content {
    width: 75%;
}

.last-article-title {
    font-size: 30px;
    text-transform: uppercase;
}

.last-article-excerpt {
    text-align: justify;
}

.last-article-read-more-button {
    display: inline-block;
    border-bottom: 1px solid black;
}

.last-article-read-more-button a {
    text-decoration: none;
    color: #000;
}

.last-article-meta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 40px;
}

.last-article-publication-date {
    background-color: #5bfad7;
    margin-right: 5px;
    padding: 4px;
    text-transform: uppercase;
}

.last-article-tags-container {
    display: flex;
    flex-direction: rows;
    flex-wrap: nowrap;
    margin-top: 25px;
}

.last-article-tag {
    border-bottom: 1px solid black;
    display: inline-block;
}

.last-article-tag a {
    color: #000;
    text-decoration: none;
}

.label-icon {
    height: 24px;
    width: 24px;
}

.all-articles-button {
    text-align: center;
}

.blue-button {
    background-color: #5bfad7;
    border-radius: 30px;
    color: #000;
    font-family: FreeSans, Helvetica;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
