/* === Fonts === */

@font-face {
    font-family: 'FiraSans-Light';
        src: url('/css/FiraSans-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-LightItalic';
        src: url('/css/FiraSans-LightItalic.ttf') format('truetype');
    font-style: italic;
}

/* === Color Set === */

/*
 * Aufhebung blue: #2BFED2 - rgb(43, 254, 210)
 * Dark Blue     : #3D9986 - rgb(61, 153, 134)
 * Green         : #00FF39 - rgb(0, 255, 57)
 * Orange        : #FF4300 - rgb(255, 67, 0)
 * Dark Orange   : #B22F00 - rgb(178, 47, 0)
 * Salmon        : #FE7C6B - rgb(254, 124, 107)
 * Red           : #CB0E21 - rgb(203, 14, 33)
 * Pink          : #FF40B3 - rgb(255, 64, 179)
 * Violet        : #C214CC - rgb(194, 20, 204)
*/

/* === General === */
body {
  font-family: FiraSans-Light, "Courier New";
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.page-layout {
  max-width: 1500px;
  min-width: 600px;
}

/* == Header == */
.header {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: center;
}


/* == Navigation == */
nav {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 80%;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-item a {
  color: black;
  text-decoration: none;
}

.menu-item a:hover {
  color: #B22F00;
}

.menu-item__active a{
  color: #B22F00;
}

/* == Pagination == */

.pagination ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
}

.pagination-item {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

.pagination-item a {
  color: black;
  text-decoration: None;
  font-weight: bold;
}

.pagination-item a:hover {
  color: #B22F00;
}

/* == Footer == */
footer {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 30px;
}

footer p {
  text-align: center;
}

/* === Blog Main Page === */

/*
.post-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  width: 80%;
}

.post-card {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 10px;
  max-width: 435px;
  margin: 20px;
  padding: 10px;
}

.post-card a {
  color: black;
  text-decoration: none;
  display: block;
}

.post-card a:hover {
  color: #B22F00;
}

.post-card-title__center {
  border-radius: 10px 10px 0px 0px;
  padding: 0;
  margin-top: -30px;
  margin-left: -10px;
  margin-right: -10px;
}

.blue-background {
  background-color: rgba(43, 254, 210, 0.5);
}

.red-background {
  background-color: rgba(178, 47, 0, 0.5);
}

.post-card-title h2 {
  padding: 10px;
}

.post-card-type {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.8);
}

.post-card-author {
  font-style: italic;
}

.post-card-date {
  font-style: italic;
  color: #8A7F8D;
  margin-top: -10px;
  margin-bottom: 10px;
}

.post-card-excerpt {
  text-align: justify;
  padding: 0;
  margin-bottom: 10px;
}

*/

.post-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  max-width: 1000px;
}

.post-card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 260px;
  margin: 10px;
  width: 450px;
  min-width: 450px;
  box-shadow: 0 0 0.7em grey;
}

.post-card-link {
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.post-card-picture {
  background-origin: border-box;
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  width: 200px;
}

.post-card-text {
  width: 50%;
  padding: 12px;
}

.post-card-title {
  font-size: 18px;
  font-weight: bold;
}

.post-card-icon {
  color: rgb(178, 47, 0);
  font-size: 20px;
}

.post-card-subtitle {
  font-size: 14px;
  font-weight: normal;
}

.post-card-date {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

/* === Blog Post ===*/
.post {
  margin: auto;
  min-width: 680px;
  padding: 0;
  width: 50%;
}

.post-header {
  margin-bottom: 20px;
  text-align: center;
}

.post-author {
  font-style: italic;
  font-weight: bold;
  color: rgba(178, 47, 0, 1);
}

.header-image {
  margin: 0;
  padding: 0;
}

.header-image img {
  height: auto;
  width: 100%;
}

.post-content {
  text-align: justify;
  line-height: 1.5em;
}

.post-content {
  margin-top: 50px;
}

.post-pagination {
  margin-top: 40px;
}

.post-content blockquote {
  color: rgba(178, 47, 0, 1);
  font-style: italic;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 0;
  width: 80%;
  font-size: 19px;
}

/* Author and source of a post quote. */
.post-content .quote-meta {
  color: black;
  font-size: 16px;
  text-align: right;
}

.post-content sup a{
    color: #B22F00;
    font-weight: bold;
}

.footnote-number {
  color: #B22F00;
  font-weight: bold;
}


/* == Video post == */

.youtube-video {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}


/* === Bibliothèques ===*/
.author-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  padding: 0;
  width: 80%;
}

.author-card {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}

.author-card a {
  color: black;
  text-decoration: none;
}

.author-card p{
  max-width: 160px;
  text-align: center;
}

.library-content {
  margin-bottom: 50px;
  margin-top: 30px;
}

.library-content h2 {
  text-align: center;
}

.text-list {
/*background-color: rgb(43, 254, 210, 0.7);
*/
  background-color: rgb(43, 254, 210, 0.3);
  margin-bottom: 20px;
  padding: 10px;
}

.text-list:nth-child(odd) {
/*background-color: rgba(255, 67, 0, 0.7);
*/
  background-color: rgba(254, 210, 43, 0.3);
}

.text-list h3 {
  margin-bottom: 5px;
  margin-top: -2px;
}

.text-list a {
  text-decoration: None;
  color: black;
}

.text-list a:hover {
  color: #FE2B57;
}

.text-list h3:target::before {
  content: "►";
  color: rgba(0, 0, 0, 0.5);
  margin-right: .25em;
  
}
