---
title: "Pour une critique radicale du faux omniprésent"
---

<!DOCTYPE html>
<html lang="fr">
    <head>
      {% include head-meta.html %}
      {% include head-link-bulma-css.html %}
      {% include head-link-base-css.html %}
    </head>

    <body>
        <div style="max-width: 1600px; margin: auto">
            {% include navbar.html %}
            
            <section class="section">
                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <div class="columns is-multiline">
                            {% assign articles = site.articles | reverse  %}
                            {% for item in articles %}
                                {% include article-card.html article=item %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

        </div>

        {% include footer.html %}
    </body>
</html>
