---
layout: page
title: "Pour une critique radicale du faux omniprésent"
---

<div class="importants-slider">
    <h3>DERNIERS IMPORTANTS</h3>
    {% assign importants = site.importants | reverse  %}
    {% for important in importants limit: 3 %}
    <article>
        <h4><a href="{{ important.url }}">{{ important.title }}</a></h4>
     </article>
    {% endfor %}
</div>


<div class="actualites-slider">
    <h3>DERNIERES ACTUALITÉS</h3>
    {% assign actualites = site.actualites | reverse  %}
    {% for actualite in actualites limit: 3 %}
    <article>
        <h4><a href="{{ actualite.url }}">{{ actualite.title }}</a></h4>
     </article>
    {% endfor %}
</div>

<div class="articles-slider">
    <h3>DERNIERS ARTICLES</h3>
    {% assign articles = site.articles | reverse  %}
    {% for article in articles limit: 3 %}
    <article>
        <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
     </article>
    {% endfor %}
</div>

<div class="bibliotheque-slider">
    <h3>DERNIERS TEXTES</h3>
    {% assign texts = site.bibliotheque | reverse  %}
    {% for text in  texts limit: 3 %}
    <article>
        <h4><a href="{{ text.url }}">{{ text.title }}</a></h4>
     </article>
    {% endfor %}
</div>

<div class="videos-slider">
    <h3>DERNIERES VIDEOS</h3>
    {% assign videos = site.videos | reverse  %}
    {% for video in  videos limit: 3 %}
    <article>
        <h4><a href="{{ video.url }}">{{ video.title }}</a></h4>
     </article>
    {% endfor %}
</div>
