---
layout: page
title: Aufhebung
---

<nav>
  <ul class="menu">
      <li class="menu-item menu-item__active">
        <a href="/">BLOG</a>
      </li>
      <li class="menu-item">
        <a href="/textes/index.html">BIBLIOTHÈQUE</a>
      </li>
      <li class="menu-item">
        <a href="http://community.spirit-project.com/">DISCUSSIONS</a>
      </li>
      <li class="menu-item">
        <a href="/about">À PROPOS</a>
      </li>
  </ul>
</nav>

<div class="article-list">
  {% for post in paginator.posts %}
    <article class="post-card">
      <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="post-card-title__center">
        <div class="post-card-title">
          <h2>{{ post.title }}</h2>
        </div>
      </div>

      <div class="post-card-date">
        {{ post.date | date: "%d" }}
        {% assign month = post.date | date: "%m" %}
        {% case month %}
          {% when '01' %}JANVIER
          {% when '02' %}FÉVRIER
          {% when '03' %}MARS
          {% when '04' %}AVRIL
          {% when '05' %}MAI
          {% when '06' %}JUIN
          {% when '07' %}JUILLET
          {% when '08' %}AOÛT
          {% when '09' %}SEPTEMBRE
          {% when '10' %}OCTOBRE
          {% when '11' %}NOVEMBRE
          {% when '12' %}DÉCEMBRE
        {% endcase %}
        {{ post.date | date: "%Y" }}
      </div>

      <div class="post-card-excerpt">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
      </div>
      </a>
    </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  <ul>
    {% if paginator.previous_page %}
    <li class="pagination-item">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          &larr; ARTICLES SUIVANTS
      </a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="pagination-item">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          ARTICLES PRÉCÉDENTS &rarr;
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}
