---
layout: page
title: "Pour une critique radicale du faux omniprésent"
---

{% comment %}
{% include importants-slider.html %}
{% endcomment %}

{% include news-slider.html %}


{% comment %}
<h3>DERNIERS ARTICLES</h3>
<div class="articles-slider">
    {% assign articles = site.articles | reverse  %}
    {% for article in articles limit: 3 %}
    <article>
        <h4>
            <a href="{{ article.url }}">{{ article.title }}</a>
        </h4>
     </article>
    {% endfor %}
</div>


<h3>DERNIERS TEXTES</h3>
<div class="bibliotheque-slider">
    {% assign texts = site.bibliotheque | reverse  %}
    {% for text in  texts limit: 3 %}
    <article>
        <h4>
            <a href="{{ text.url }}">{{ text.title }}</a>
        </h4>
     </article>
    {% endfor %}
</div>


<h3>DERNIERES VIDEOS</h3>
<div class="videos-slider" style="width: 600px;">
    {% assign videos = site.videos | reverse  %}
    {% for video in  videos limit: 10 %}
    <article>
        <h4><a href="{{ video.url }}">{{ video.title }}</a></h4>
     </article>
    {% endfor %}
</div>
{% endcomment %}

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.importants-slider').slick({
            dots: true,
            arrows: false,
            infinite: false,
            slidesToShow: 1,
        });

        $('.news-slider').slick({
            arrows: true,
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 3
        });
    });
</script>

<style>
.news-slider .slick-prev:before, .news-slider .slick-next:before {
    color: black;
}
</style>
