---
layout: page
title: "Pour une critique radicale du faux omniprésent"
---

{% comment %}
Dirty tricks to initialize an empty list
{% endcomment %}
{% assign empty_tags = site.tags |  where_exp:"item", "item.undefined_attribute == 'undefined_value'" %}

{% comment %}
Dirty tricks to filter duplicate tag names
{% endcomment %}

{% for post in site.posts %}
    {% for tag in post.tags %}
      {% if empty_tags contains tag %}
        {% continue %}
      {% else %}
        {% assign empty_tags = empty_tags | push: tag %}
      {% endif %}
    {% endfor %}
{% endfor %}

<div class="tags-list">
  <ul>
    {% for tag in empty_tags %}
    <li>{{ tag }}</li>
    {% endfor %}
  </ul>
</div>

