<div class="article-card column is-half-tablet is-one-third-desktop">
    <div class="card">
        <div class="card-image">
            <figure class="image">
                <a href="{{ include.article.url }}">
                    <img class="article-card-image" src="{{ site.url }}/{{ include.article.image }}">
                </a>
            </figure>
        </div>
        
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{ include.article.title }}</p>
                    <div class="article-card-meta">
                        <div>
                            {% assign day = include.article.date | date: "%d" %}
                            {% assign month = include.article.date | date: "%m" %}
                            <span
                                class="
                                  button
                                  has-background-blue
                                  has-static-white-borders
                                  has-text-cursor
                                  is-uppercase">
                                  {% include short-date.html day=day month=month %}
                            </span>
                        </div>
                        <div class="article-card-author">
                            Par {{ include.article.author }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
