<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}" />
  <link rel="stylesheet" href="/css/main.css" />
  <!--<link rel="shortcut icon" type="image/png" href="/img/aufhebung_favicon.png"/>-->
  <link rel="shortcut icon" type="image/png" href="/favicon-152.png"/>
  <meta name="keywords" content="philosophie, histoire, économie, radicalité, critique radicale, genos, logos, aufhebung, marx, engels, présocratiques, internationale situationniste, capitalisme, Francis Cousin, bibliothèque, livres, rencontre" />
  {% if page.image %}<meta property="og:image" content="{{ page.image }}" />
  {% elsif page.thumbnail %}<meta property="og:image" content="{{ page.thumbnail }}" />
  {% else %}<meta property="og:image" content="http://aufhebung.fr/img/aufhebung_logo.png" />
  {% endif %}
  {% seo %}
</head>
