<head>
  <meta charset="utf-8" />
  <meta name="author" content="{{ site.author.name }}" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="shortcut icon" type="image/png" href="/favicon-152.png"/>
  <meta name="keywords" content="philosophie, histoire, économie, radicalité, critique radicale, Francis Cousin, genos, logos, aufhebung, marx, engels, présocratiques, internationale situationniste, capitalisme, bibliothèque, livres, rencontre" />

  {% if page.image %}
    <meta property="og:image" content="{{ page.image | absolute_url }}" />
  {% elsif page.thumbnail %}
    <meta property="og:image" content="{{ page.thumbnail | absolute_url }}" />
  {% else %}
    <meta property="og:image" content="http://aufhebung.fr{{ site.og_image_rpath }}" />
    <meta property="og:image:secure_url" content="https://aufhebung.fr{{ site.og_image_rpath }}" />
  {% endif %}
  {% seo %}
</head>
