<section class="section has-no-padding-bottom">
    <div class="container has-text-centered section-title">
        <h2 class="title is-2 has-text-black">Dernier Article</h2>
    </div>
    
    <div class="columns">
        <div class="column is-10 is-offset-1">
            {% assign articles = site.articles | reverse  %}
            {% for item in articles limit: 1 %}
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img class="last-article-image" src="{{ site.url }}/{{ item.image }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ item.title }}</p>
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <span
                                            class="
                                              button
                                              has-background-blue
                                              has-static-white-borders
                                              has-text-cursor
                                              is-uppercase">
                                            20 avr
                                        </span>
                                    </div>
                                    <div class="level-item">
                                        Par {{ item.author }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        {{ item.content |  strip_html | truncatewords: 98 }}
                        <span class="last-article-read-more-button">
                            <a href="{{ item.url }}">Lire la suite</a>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="all-articles-button has-text-centered">
        <a 
            class="
                button
                all
                has-background-blue
                has-text-white
                is-primary
                is-rounded
                is-size-6-tablet
                is-size-7-mobile"
            href="{{ site.url }}/articles">
            Tous les Articles
        </a>
    </div>

</section>
