<div class="news-container">
    <h3 class="news-title">Dernières Actualités</h3>

    <div class="news-slider">
        {% assign news = site.actualites | reverse  %}
        {% for item in news limit: 10 %}
        <div>
            <div class="news-slide">
                <div class="news-textbox">
                    <h3 class="uppercased">{{ item.title }}</h3>
                    {% include verbose-date.html
                           day=item.day
                           month=item.month
                           year=item.year
                    %}
                    <a class="thin-blue-button" href="{{ item.url }}">Lire la suite</a>
                </div>
                <img class="darkened-image" src="{{ item.thumbnail }}"/>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="all-news-button">
        <a class="grey-button" href="/actualites">Toutes les Actualités</a>
    </div>
</div>
