{%- if include.day == "01" -%}
    1<sup>er</sup>
{%- else -%}
    {{ include.day }}
{%- endif -%}

{%- case include.month -%}
    {% when "01" %}
      JAN
    {% when "02" %}
      FÉV
    {% when "03" %}
      MARS
    {%- when "04" %}
      AVRIL
    {% when "05" %}
      MAI
    {% when "06" %}
      JUIN
    {% when "07" %}
      JUIL
    {% when "08" %}
      AOÛT
    {% when "09" %}
      SEP
    {% when "10" %}
      OCT
    {% when "11" %}
      NOV
    {% when "12" %}
      DÉC
{%- endcase -%}

