<section class="section has-no-padding-bottom ">
    <div class="container has-text-centered section-title">
        <h2 class="title is-2 has-text-black">Dernières Vidéos</h2>
    </div>
    <div class="container has-text-centered">
        To Do :)
    </div>
    <div class="all-videos-button has-text-centered">
        <a class="
            button
            all
            has-background-dark
            has-text-white
            is-primary
            is-rounded
            is-size-6-tablet
            is-size-7-mobile">
            Toutes les Vidéos
        </a>
    </div>
</section>
