<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
    <div class="page-layout">
      <div class="header">
        <div class="logo">
            <a href="/">
              <img src="/img/assets/aufhebung_logo.jpg" alt="Logo de Aufhebung.fr">
            </a>
        </div>
        <div class="accroche">
          <img src="/img/assets/accroche.png" alt="Pour une critique radicale du faux omniprésent">
        </div>
      </div>
      {% include navbar.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
