---
layout: page
---

<nav>
  <ul class="menu">
      <li class="menu-item">
        <a href="/">BLOG</a>
      </li>
      <li class="menu-item">
        <a href="/textes/index.html">BIBLIOTHÈQUE</a>
      </li>
      <li class="menu-item">
        <a href="http://community.spirit-project.com/">DISCUSSIONS</a>
      </li>
      <li class="menu-item">
        <a href="/about">À PROPOS</a>
      </li>
  </ul>
</nav>

<div class="post">
  <div class="post-header">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif %}
    <span class="post-meta">par <span class="post-author">{{ page.author }}</span>
    {% if page.date %}
        , le {{ page.date | date: "%d" }}
        {% assign month = page.date | date: "%m" %}
        {% case month %}
          {% when '01' %}janvier
          {% when '02' %}février
          {% when '03' %}mars
          {% when '04' %}avril
          {% when '05' %}mai
          {% when '06' %}juin
          {% when '07' %}juillet
          {% when '08' %}août
          {% when '09' %}septembre
          {% when '10' %}octobre
          {% when '11' %}novembre
          {% when '12' %}décembre
        {% endcase %}
        {{ page.date | date: "%Y" }}.</span>
    {% else if page.year %}, en {{ page.year }}.</span>
    {% endif %}
  </div>

  {% if page.image %}
    <div class="header-image">
      <img src="{{ page.image }}">
    </div>
  {% endif %}

  <article class="post-content">
    {{ content }}
  </article>

  <div class="pagination post-pagination">
    <ul>
      {% if page.next.url %}
        <li class="pagination-item">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.next.title}}">
              &larr; ARTICLES SUIVANTS
          </a>
        </li>
        
      {% endif %}
      {% if page.previous.url %}
      <li class="pagination-item">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.previous.title}}">
            ARTICLES PRÉCÉDENTS &rarr;
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
